@model IEnumerable<WorkdayVM>
@{
    ViewData["Title"] = "Дежурства";
}

<ul class="list-group col col-lg-4">
    <li class="list-group-item list-group-item-info text-center p-0 pt-2"><h5 class="p-0">Дежурства</h5></li>
    @foreach (var item in Model)
    {
        string day;
        string color;
        string title;
        if (item.Workday.IsAlways)
        {
            day = item.Roster.DaysOfWeek.DayOfWeekName;
            color = "text-success";
            title = "Постоянно";
        }else
        {
            day = item.Workday.DateWork.ToLongDateString();
            color = "text-warning";
            title = "День";
        }

    <li class="list-group-item list-group-item-action pb-0 ">
                <div class="row">

                    <div class="col-9">
                    <a href="#" class="col text-start" id=@item.Workday.WorkdayId.ToString() title="Изменить" data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" style="text-decoration: none;">

                            <h5 class="mb-0">@item.Employee.FullName</h5>
                        <p class="text-muted mb-0">@day с @item.Roster.StartTime.ToString(@"hh\:mm"), @item.Roster.DurationOfDuty часов</p>
                        </a>

                    </div>
                    <div class="col-2 text-start py-2">
                    <i class="fas fa-circle @color f-10 m-r-10" title=@title></i>
                    </div>
                    <div class="col-1  text-end">
                        <a aria-label="Basic example" href="#" title="Удалить" id=@item.Workday.WorkdayId.ToString() data-bs-toggle="modal" data-bs-target="#modal" onClick="Delete(this)">
                            <h4 class="py-2">
                                <i class="fa-regular fa-trash-can text-danger"></i>
                            </h4>
                        </a>
                    </div>
                </div>
            </li>
    }
    <li class="list-group-item list-group-item-action list-group-item-success text-center p-0">
        <div class="row">
            <a href="#" class="p-2" title="Добавить" id="0" data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" style="text-decoration: none;"><i class="fa-solid fa-plus"></i> Добавить</a>
        </div>
    </li>
</ul>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-content"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Edit(obj) {
            let url = '@Url.Action("EditById", "Roster")';
            let id = obj.id;
            $('#edit-content').load(url, { Id: id });
        }

        function Delete(obj) {
            let url = '@Url.Action("DeleteById", "Roster")';
            let id = obj.id;
            $('#edit-content').load(url, { Id: id });
        }
    </script>
}


