@model HomeVM
@{
    ViewData["Title"] = "Доска дежурств";
    string day;
}
<div class="mainPage">
    <div class="mainTable">
        <div class="cardHeader">
            <h2>Список дежурств</h2>
        </div>
        <div class="scroll-table">
            <table>
                <thead>
                    <tr>
                        <td>День недели</td>
                        <td>Период</td>
                        <td>Дежурный</td>
                    </tr>
                </thead>
            </table>
            <div class="scroll-table-body">
                <table>
                    <tbody>
                        @foreach (var item in Model.MainTable)
                        {
                            @if (item.Roster.DaysOfWeekId == 6 || item.Roster.DaysOfWeekId == 7)
                            {
                                day = "holiday";
                            }
                            else
                            {
                                day = "workday";
                            }
                            <tr class="@day">
                                <td><span class="dayOfWeek">@item.Roster.DaysOfWeek.DayOfWeekName</span></td>
                                <td>@item.DateStart.ToString("dd.MM.yyyy HH:mm") - @item.DateEnd.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    <select asp-for="@item.EmployeeId" asp-items="@Model.Employees" class="form-select-sm @day">
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="statistics">
        <div class="cardHeader">
            <h2>Вторая таблица</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <td>День недели</td>
                    <td>Период</td>
                    <td>Дежурный</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>





    @*
    <ul class="list-group">
    <li>
    <div class="row">
    <div class="col ms-2">
    <h4 class="text-start">Список дежурств</h4>
    </div>

    </div>
    </li>
    @foreach (var item in Model.MainTable)
    {
    @if (item.Roster.DaysOfWeekId == 6 || item.Roster.DaysOfWeekId == 7)
    {
    we = "weekend";
    }
    else
    {
    we = "";
    }

    <li class=@we>
    <div class="row">
    <div class="col-1 text-start" id=@item.RosterId.ToString() data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" style="text-decoration: none;">
    <h5 class="mb-0">@item.DateStart.ToString("ddd").ToUpper()</h5>

    </div>
    <div class="col text-start">
    <span class="mb-0">@item.DateStart.ToString("dd.MM.yyyy HH:mm") - @item.DateEnd.ToString("dd.MM.yyyy HH:mm")</span>
    </div>
    <div class="col text-end">
    <select asp-for="@item.EmployeeId" asp-items="@Model.Employees" class="form-select">
    </select>
    </div>
    </div>
    </li>
    }
    </ul>*@
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-content"></div>
        </div>
    </div>
</div>
