@model HomeVM
@{
    ViewData["Title"] = "Доска дежурств";
    string day;
}
<div class="mainPage">
    <div class="mainTable">
        <div class="cardHeader">
            <h2>Список дежурств</h2>
        </div>
        <div class="scroll-table">
            <table>
                <thead>
                    <tr>
                        <td>День недели</td>
                        <td>Период</td>
                        <td>Дежурный</td>
                    </tr>
                </thead>
            </table>
            <div class="scroll-table-body">
                <table>
                    <tbody>
                        @foreach (var item in Model.MainTable)
                        {
                            @if (item.Roster.DaysOfWeekId == 6 || item.Roster.DaysOfWeekId == 7)
                            {
                                day = "holiday";
                            }
                            else
                            {
                                day = "workday";
                            }
                            <tr class="@day">
                                <td><span class="dayOfWeek">@item.Roster.DaysOfWeek.DayOfWeekName</span></td>
                                <td>@item.DateStart.ToString("dd.MM.yyyy HH:mm") - @item.DateEnd.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    <select asp-for="@item.EmployeeId" asp-items="@Model.Employees" class="form-select-sm @day" onchange = "selectChanged(this)" id = "@item.MappingId.ToString()">
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="statistics">
        <div class="cardHeader">
            <h2>Статистика по дежурствам</h2>
        </div>
        <canvas id="myChart"></canvas>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-content"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/statistic.js"></script>
    <script>
        
        $(document).ready(function () {
            getStatistic();
        });
        let myChart;
        function selectChanged(value) {
            //alert(myChart.data.datasets[0].data)
            let url = '@Url.Action("EditMapping")?mapp=' + value.id + '&emp=' + value.value;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    //alert(data)
                    for (let i = 0; i < data.length; i++) { // выведет 0, затем 1, затем 2
                        //alert(myChart.data.datasets[0].data[i])
                        //alert(data[i])
                        myChart.data.datasets[0].data[i] = data[i];
                        myChart.update();
                    }
                }
            });

            
            //$.get(url);
            //setTimeout(function () {
            //    //myChart.destroy();
            //    myChart.data.datasets[0].data = @Html.Raw(ViewBag.CountsDuty);
            //    alert(myChart.data.datasets[0].data)
            //}, 500);
            
            
            //toastr["success"]('@TempData[WC.Success]');
        };

        function getStatistic()
        {
            var employees = @Html.Raw(ViewBag.ArrEmployee);
            var counts = @Html.Raw(ViewBag.CountsDuty);
            myChart = fillStatistic(employees, counts);
        }
    </script>
    )
}