@model HomeVM
@{
    ViewData["Title"] = "Доска дежурств";
    string day;
}
<div class="mainPage">
    <div class="mainTable">
        <div class="cardHeader">
            <h2>Список дежурств</h2>
        </div>
        <div class="scroll-table">
            <table>
                <thead>
                    <tr>
                        <td>День недели</td>
                        <td>Период</td>
                        <td>Дежурный</td>
                    </tr>
                </thead>
            </table>
            <div class="scroll-table-body">
                <table>
                    <tbody>
                        @foreach (var item in Model.MainTable)
                        {
                            @if (item.Roster.DaysOfWeekId == 6 || item.Roster.DaysOfWeekId == 7)
                            {
                                day = "holiday";
                            }
                            else
                            {
                                day = "workday";
                            }
                            <tr class="@day">
                                <td>@item.Roster.DaysOfWeek.DayOfWeekName</td>
                                <td>@item.DateStart.ToString("dd.MM.yyyy HH:mm") - @item.DateEnd.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    <select asp-for="@item.EmployeeId" asp-items="@Model.Employees" class="form-select-sm @day" onchange="selectChanged(this)" id="@item.MappingId.ToString()">
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="card">
            <div class="cardHeader">
                <h2>Статистика</h2>
                <div class="statistic">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#all-tab-pane"><h3>Всего</h3></button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#day-tab-pane"><h3>По дням</h3></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
                    <div class="chart area">
                        <canvas id="polarArea"></canvas>
                    </div>
                </div>
                <div class="tab-pane fade" id="day-tab-pane" role="tabpanel">
                    <div class="chart bar">
                        <canvas id="bar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div id="crossingOfDays"></div>
    </div>

    <div class="cards">
        @if (Model.Workdays.Any())
        {
            <div class="card">
                <div class="cardHeader">
                    <h2>Дежурства</h2>
                </div>
                <div class="scroll-table mainpage">
                    <div class="scroll-table-body">
                        <table>
                            @foreach (var item in Model.Workdays.OrderBy(x => x.Workday.IsAlways).ThenBy(x => x.Workday.DateWork).ThenBy(x => x.Workday.Roster.RosterId))
                            {
                                if (item.Workday.IsAlways)
                                {
                                    day = item.Roster.DaysOfWeek.DayOfWeekName;
                                }
                                else
                                {
                                    day = item.Workday.DateWork.ToLongDateString();
                                }
                                <tr>
                                    <td>

                                        @item.Employee.FullName<br>
                                        <span>@day, @item.Roster.StartTime.ToString(@"hh\:mm") - @item.Roster.EndTime.ToString(@"hh\:mm")</span>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        @if (Model.Holidays.Any())
        {
            <div class="card">
                <div class="cardHeader">
                    <h2>Отпуска</h2>
                </div>
                <div class="scroll-table mainpage">
                    <div class="scroll-table-body">
                        <table>
                            @foreach (var item in Model.Holidays.OrderBy(x => x.Holiday.DateStart).ThenBy(x => x.Holiday.DateFinish).ThenBy(x => x.Employee.FullName))
                            {
                                <tr>
                                    <td>

                                        @item.Employee.FullName<br>
                                        <span>@item.Holiday.DateStart.ToString(@"dd.MM.yyyy") - @item.Holiday.DateFinish.ToString(@"dd.MM.yyyy")</span>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>


</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-content"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/statistic.js"></script>
    <script>

        $(document).ready(function () {
            getStatistic();
            getCrossingOfDays();
        });
        let chart;
        let bar;
        function selectChanged(value) {
            let url = '@Url.Action("EditMapping")?mapp=' + value.id + '&emp=' + value.value;
            $.ajax({
                type: 'GET',
                url: url,

                success: function (data) {
                    data = JSON.parse(data)

                    for (let i = 0; i < data.AllCounts.length; i++) {
                        chart.data.datasets[0].data[i] = data.AllCounts[i];
                        chart.update();
                        bar.data.datasets[0].data[i] = data.WorkdayCounts[i];
                        bar.data.datasets[1].data[i] = data.HolidayCounts[i];
                        bar.update();
                    }
                }
            });
            getCrossingOfDays();
            toastr["success"]('Дежурство изменено');
        };

        function getStatistic() {
            var stat = @Html.Raw(Model.Statistics);
            chart = fillPolarArea(stat.Employees, stat.AllCounts);
            bar = fillBar(stat.Employees, stat.WorkdayCounts, stat.HolidayCounts);
        }

        function getCrossingOfDays() {
            let url = '/Home/GetCrossingOfDays/';
            $('#crossingOfDays').load(url);
            
        }
    </script>
    )
}