@model IEnumerable<Roster>
@{
    ViewData["Title"] = "Параметры";
    var we = "";
}

<div class="card col col-xl-4 col-lg-6 ms-3">
    <ul class="list-group">
        <li>
            <div class="row">
                <div class="col">
                    <h4 class="text-start">Параметры</h4>
                </div>
                <div class="col text-end">
                    <a href="#" class="add" title="Добавить" id="0" data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" style="text-decoration: none;">
                        <i class="fa-solid fa-plus fa-2xl"></i>
                    </a>
                </div>
            </div>
        </li>
        @foreach (var item in Model)
        {
            @if (item.DaysOfWeekId == 6 || item.DaysOfWeekId == 7)
            {
                we = "weekend";
            }
            else
            {
                we = "";
            }

            <li class=@we>
                <div class="row">
                    <a href="#" class="col text-start" id=@item.RosterId.ToString() data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" style="text-decoration: none;">
                        <h5 class="mb-0">@item.DaysOfWeek.DayOfWeekName</h5>
                        <small>с @item.StartTime.ToString(@"hh\:mm"), @item.DurationOfDuty часов</small>
                    </a>
                    <div class="col-1 col-sm-2 text-end">
                        <a href="#" class="del" title="Удалить" id=@item.RosterId.ToString() data-bs-toggle="modal" data-bs-target="#modal" onClick="Delete(this)">
                            <h4 class="py-2">
                                <i class="fa-regular fa-trash-can"></i>
                            </h4>
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-content"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Edit(obj) {
            let url = '@Url.Action("EditById")';
            let id = obj.id;
            $('#edit-content').load(url, { Id: id });
        }

        function Delete(obj) {
            let url = '@Url.Action("DeleteById")';
            let id = obj.id;
            $('#edit-content').load(url, { Id: id });
        }
    </script>
}
