@model IEnumerable<Roster>
@{
    ViewData["Title"] = "Параметры";
    var color = "";
}

<ul class="list-group col-4">
    <li class="list-group-item list-group-item-info text-center p-0 pt-2"><h5 class="p-0">Дежурства</h5></li>
    @foreach (var item in Model)
    {
        @if (item.DaysOfWeekId == 6 || item.DaysOfWeekId == 7)
        {
            color = "list-group-item-warning";
        }
        else
        {
            color = "";
        }

        <li class="list-group-item list-group-item-action pb-0 @color">
            <div class="row">
                <a href="#" class="col text-start" id=@item.RosterId.ToString() data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" style="text-decoration: none;">
                    <h5 class="mb-0">@item.DaysOfWeek.DayOfWeekName</h5>
                    <small class="text-muted">с @item.StartTime.ToString(@"hh\:mm"), @item.DurationOfDuty часов</small>
                </a>
                <object class="col-1 text-center">
                    <a aria-label="Basic example" href="#" title="Удалить" id=@item.RosterId.ToString() data-bs-toggle="modal" data-bs-target="#modal" onClick="Delete(this)">
                        <h4 class="py-2">
                            <i class="fa-regular fa-trash-can text-danger"></i>
                        </h4>
                    </a>
                </object>
            </div>
        </li>
    }
    <a href="#" title="Добавить" id="0" data-bs-toggle="modal" data-bs-target="#modal" onClick="Edit(this)" class="list-group-item list-group-item-action list-group-item-success text-center"><i class="fa-solid fa-plus"></i> Добавить</a>
</ul>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-content"></div>
        </div>
    </div>
</div>

@section Scripts{
@*    @{
        <partial name="_ValidationScriptsPartial" />
    }*@
    <script>
        function Edit(obj) {
            let url = '@Url.Action("EditById", "Roster")';
            let id = obj.id;
            $('#edit-content').load(url, { Id: id });
        }

        function Delete(obj) {
            let url = '@Url.Action("DeleteById", "Roster")';
            let id = obj.id;
            $('#edit-content').load(url, { Id: id });
        }
    </script>
}
